.b-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.6rem;
  margin-top: 3rem;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--light);
    border-radius: 15px;
  }
}

@media screen and (min-width: 1120px) {
  .b-container {
    margin-top: 0;

    .item {
      width: 160px;
      height: 160px;
    }
  }
}