li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  .bullet {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  span {
    font-weight: 700;
    font-size: 0.8rem;
  }
}