.method-container {
  width: 330px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  .method-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.2rem;
  }

  .method-img {
    width: 100%;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}

@media screen and (min-width: 1120px) {
  .method-container {
    max-width: 1120px;
    width: 100%;

    .method-img {
      max-width: 515px;
      margin: 4rem 0;
    }
  }
}