.s-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightest);
  
  .s-container {
    width: 330px;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    .s-heading {
      .s-percent {
        font-size: 6rem;
        font-weight: 700;
      }

      img {
        display: block;
        text-align: right;
        margin-bottom: 4rem;
      }

      .s-description {
        font-size: 1rem;
        color: var(--neutral-400);
        font-weight: 400;
      }
    }
  }

  @media screen and (min-width: 1120px) {
    .s-container {
      max-width: 1120px;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      .s-heading {
        text-align: left;
        width: 570px;
      }
    }
  }
}
