.lp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 330px;
  padding: 2rem 0;
  margin: 0 auto;

  .lp-heading {
    width: 100%;

    .lp-title {
      font-size: 3rem;
      line-height: 55px;
    }

    .lp-description {
      margin: 3rem 0 1.5rem;
      font-size: 1rem;
      color: var(--neutral-400);
    }

    button.btn-outlined {
      border: 1px solid var(--default);
      color: var(--default);
      margin-right: 1rem;
    }
  }

  .macbook-img {
    width: 100%;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1120px) {
  .lp-container {
    max-width: 1120px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .lp-heading {
      text-align: left;
    }

    .macbook-img {
      width: 695px;
    }
  }
}