.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;

  .carousel-card {
    background-color: var(--light);
    width: 100%;
    border-radius: 15px;
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-right: 1rem;
  
    .fc-img {
      width: 106px;
    }
  
    .fc-img {
      font-size: 1.4rem;
    }
  
    .fc-img {
      color: var(--neutral-400);
      font-size: 0.9rem;
    }

    .statistics-img {
      margin: 2rem 0;
    }

    .statistics-title {
      font-size: 1.4rem;
      font-weight: 700;
    }

    .statistics-job {
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--neutral-400);
    }
  }
}