.btn-default {
  width: 140px;
  height: 40px;
  background-color: var(--default);
  border-radius: 0.5rem;
  border: none;
  color: var(--light);
  font-size: 0.8rem;
  transition: 0.3s;

  h1 {
    font-size: 0.9rem;
  }
  
  &:hover {
    filter: brightness(0.9);
  }
}