.header-bg {
  background-color: var(--neutral-300);
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1rem;
    max-width: 370px;
    margin: 0 auto;
  
    .logo-white {
      width: 7.5rem;
    }
  }
}