.header-bg {
  background-color: var(--neutral-300);
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1rem;
    width: 100%;
    margin: 0 auto;
  
    .logo-white {
      width: 7.5rem;
    }
  }

  @media screen and (min-width: 1120px) {
    header {
      width: 100%;
      max-width: 1120px;
    }
  }
}