.courses-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem auto;
  max-width: 1120px;
  height: 70vh;

  .courses-heading {
    display: flex;
    align-items: center;
  }

  h1.course-title {
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--neutral-300);
  }

  img {
    width: 211px;
  }
  
  p.course-description {
    max-width: 900px;
    font-size: 1rem;
    color: var(--neutral-400);
    margin: 1.5rem 0 4rem;
  }
}