.btn-outlined {
  width: 140px;
  height: 40px;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid var(--light);
  color: var(--light);
  transition: 0.3s;

  &:hover {
    filter: brightness(0.8);
  }
}